.about {
  background-color: $dimWhite;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    margin-top: 5rem;
    width: 540px;

    h2 {
      font-size: 3.5rem;
      opacity: 0.8;
    }
    p {
      line-height: 1.5rem;
      color: $paragraph;
    }
  }
}
