.contact {
  padding: 10em 0;
  background-color: $dimWhite;
  border-radius: 8px;
  margin: 3em auto;
  width: 90%;
  max-width: 900px;

  .container {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    h1 {
      text-transform: uppercase;
      font-size: 2rem;
      color: $white;
      letter-spacing: 2px;
      margin-bottom: 1.5em;
    }
    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      .name {
        width: 50%;
        margin-right: 1em;
      }
      .email {
        width: 50%;
      }
    }
    .name,
    .email,
    .message {
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid #888;
      padding: 1em 3em;
      text-transform: uppercase;
      font-size: 0.85rem;
      color: $white;
      margin-bottom: 2em;
    }
    .message {
      width: 100%;
      margin-top: 3em;
    }
    .submit {
      background: none;
      font-size: 1rem;
      border: 1px solid $blue;
      padding: 0.7em 3em;
      outline: none;
      color: $blue;
      transition: 0.4s;
      text-transform: uppercase;
      border-radius: 8px;
      font-weight: 900;
      letter-spacing: 2px;
      margin-top: 0.7em;

      &:hover {
        color: $white;
        background-color: $blue;
      }
    }
  }

  @media (max-width: 768px) {
    .contact {
      padding: 1em 0;
    }
    .container {
      h1 {
        font-size: 1.5rem;
      }
      .row {
        flex-direction: column;
        .name {
          width: 100%;
        }
        .email {
          width: 100%;
        }
      }
    }
  }
}
