.contact {
  background-color: $contactBg;
  width: 100%;
  height: 200px;
  margin-top: 10em;

  &__title {
    margin-top: 50%;
    font-size: 2.5rem;
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__btn {
    border: 1px solid $white;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}
