Header {
  padding: 1em 0;

  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    a {
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-decoration: none;
      color: $white;
    }
  }

  nav {
    .menu__links {
      text-transform: uppercase;
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        margin: 0 2em;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-size: 0.875rem;
          color: $white;
          letter-spacing: 0.19em;
          font-weight: 700;
          text-decoration: none;
          padding: 0.25em 0;
          transition: 0.3s;
          &:hover {
            border-bottom: 1px solid $blue;
            color: $blue;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
  }
}
