$dropdown: rgb(55, 62, 71);
$purple: hsl(285, 82%, 60%);
$paragraph: #ffffffe5;
$white: #ffffff;
$dimWhite: #55555515;
$mainBg: rgb(34, 39, 46);
$contactBg: hsl(0, 0%, 31%);
$aboutPicPadding: #151a21;
$footer: rgb(45, 51, 59);
$heartColor: #ec7cae;
$blue: rgb(83, 155, 245);

//font
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
